// Vendor
$primary: #e4dccf;
$secondary: #151c2c;
$link-color: #444444;
$border-radius: .5rem;
$body-color: #3f3f3f;
$code-color: #cc9393;

@import "~bootstrap/scss/bootstrap";
@import "highlight";
//@import '~highlight.js/styles/zenburn.css';


.bg-gray{
    background: #F0EBE3;
}
.footer-secondary {
    background-color: #E4DCCF;
}

.text-primary{
    //color: #ff5d5d!important;
}

.feature-icon{
    background: #f0ebe3!important;
    color: rgb(0 0 0 / 50%)!important;
}

.terminal {
    pre code {
        background: initial !important;
        color: inherit !important;
        border:none!important;
        padding: 0;
        margin: 0;
    }

    pre {
        padding: 0;
        margin: 0;
    }
}








main, main div {
    max-width: 750px;
    line-height: 1.8em;

    ul {
        padding: 0 4rem;
    }

    ol {
        padding: 0 1.5rem;
    }

    .h2, .h3, h2, h3 {
        margin-top: 1.5em;
        margin-bottom: 15px;
    }

    p {
        font-size: 1em;
        line-height: 1.6em;
        margin-bottom: 1.5rem;
        @extend .text-wrap;
        @extend .text-break;

        > a {
            text-decoration: underline;
        }
    }
}


main, .main {
    line-height: 1.5em;
    overflow: initial;
    color: $body-color;

    img {
        display: block;
        max-width: 100%;
        object-fit: cover;
        border-radius: 0.5em;
        margin: 0 auto;
    }

    picture {
        &:after {
            content: attr(alt);
            text-align: center;
            display: block;
            @extend .text-muted;
            font-size: 0.775em;
            max-width: calc(66% - 48px);
            margin: 1em auto 2em auto;
            line-height: 1.5em;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        a {
            color: darked($body-color, 5);
            text-decoration: none;
        }
    }


    h2 {
        margin-bottom: 1em !important;

        a:target {
            &:before {
                transform: rotate(200deg);
            }
        }

        a {
            @include media-breakpoint-down(md) {
                padding-left: 1em;
            }
            transition: all 340ms;
            &:before {
                transition: all 340ms;
                content: "#";
                margin-left: -1em;
                position: absolute;
                font-size: 1em;
                color: $primary;
                opacity: .5;
            }

            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }
    }

    p {
        margin: 0 0 1em;
    }

    li {
        padding-bottom: 0.33em;
    }

    pre {
        border-radius: $border-radius;
        margin-bottom: 2em !important;

        code {
            padding: 1.5em !important;
        }
    }

    blockquote {
        //background: #F9F9FE;
        background: rgba(240, 235, 227, 0.8);
        border-radius: $border-radius;
        display: flex;
        padding: 1.5em;
        position: relative;
        margin: 2em 0;
        @extend .text-wrap;
        @extend .text-break;
        gap: 1em;

        &:before{
            background-color: #ffffff;
            color: rgb(181 105 89);
            content: "!";
            width: 1.5em;
            height: 1.5em;
            border-radius: 0.8rem;
            text-align: center;
            font-weight: 600;
            font-size: 1.5em;
            display: inline-flex;
            align-self: baseline;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
            //box-shadow: 5px 5px 13px rgba(63, 26, 60, 0.29);
        }
        >p{
            margin-bottom: 0;
        }

        p:last-child {
            margin-bottom: 0;
        }

    }

}



.nav-docs{
    ul {
        list-style: none;
        padding: 0;
    }
}

@include media-breakpoint-up(md) {
    .nav-docs{
        max-width: 320px;
    }
}

@media only screen and (max-width: 480px) {
    .nav-docs {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;

        h4 {
            margin-top: 0;
            display: inline-block;
        }

        ul {
            margin: 0;
            padding: 0;
            display: inline-block;

            li {
                padding: 0;
                display: inline-block;
                border-left: none!important;
            }

        }
    }

}

main > h2:first-of-type {
    margin-top: 0 !important;
}

@include media-breakpoint-up(lg) {
    .border-lg-start {
        border-left: var(--bs-border-width) solid var(--bs-border-color);
    }
}


.terminal {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.terminal::before,
.terminal::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3em;
    pointer-events: none;
    z-index: 10;
}

.terminal::before {
    top: 0;
    background: linear-gradient(to bottom, #fff, transparent);
}

.terminal::after {
    bottom: 0;
    background: linear-gradient(to top, #fff, transparent);
}

.console-2 {
    position: sticky;
    width: 100%;
    animation: scroll 30s linear infinite;
    transition: all 260ms;
    top: 0;
}

.console-2.duplicate {
    top: 100%;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
