// Font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Lora:400,700|Roboto+Mono:300,400');

// @import "~docsearch.js";

// Bootstrap
@import "bootstrap-variables";
@import "~bootstrap/scss/bootstrap";

// Code syntax highlighting,
// powered by https://highlightjs.org
@import '~highlight.js/styles/github';

// Components
@import 'components/reset';
@import 'components/type';
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/docs-menu';
@import 'components/hamburger';
@import 'components/buttons';
@import 'components/title';
@import 'components/content';
@import 'components/strip';
@import 'components/whitebox';
@import 'components/overview';
@import 'components/anchor';

// Pages
@import 'pages/home';

// Global
body {
  font-family: $font-family-base;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: $black;
}
.container {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Display breakpoints for DEV
// body:after {
//   color: #000000;
//   font-size: 12px;
//   padding: 5px;
//   font-weight: bold;
//   right: 10px;
//   position: fixed;
//   text-align: center;
//   text-transform: uppercase;
//   bottom: 10px;
//   width: 200px;
//   z-index: 9999;
//   border: solid 1px #000000;
//   @each $name, $value in $grid-breakpoints {
//     @include media-breakpoint-up($name) {
//       content: "#{$name} - min-width: #{$value}";
//     }
//   }
// }


#console {
  margin: 0;
  padding: 2em;
  color: #333;
  background: #f8f8f8;
  overflow:hidden;
  max-height: 350px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,0.132), 0 0.3px 0.9px 0 rgba(0,0,0,0.108);


  code {
    background: #f5f5f5;
    padding: 3px 6px;
    border-radius: 3px;
    font-family: $font-family-mono;
    font-size: 0.9rem;
    line-height: 1.4;
  }
  pre {
    font-family: $font-family-mono;
    font-size: 0.9rem;
    line-height: 1.4;
    margin: 0;
    padding: 10px;
    border-radius: 1px;
    code {
      font-family: $font-family-mono;
      font-size: 0.9rem;
      line-height: 1.4;
      border-radius: none;
      padding: 0;
      margin: 0;
      background: none;
    }
  }


  p {
    font-family: monospace;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
    word-break: keep-all;
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
